@font-face {
    font-family: poppinsMedium;
    src: url("../Fonts/Poppins-Medium.ttf");
}

.filterOptions {
    
    span {
        font-family: poppinsMedium;
    }

    div {
        font-family: poppinsMedium;
    }
}

.CoursesMainBody {
    .coursesDetails {
        border-left: 1px solid rgba(221, 221, 221, 0.502);
    }
}
@media only screen and (max-width:992px){
    .CoursesMainBody {
        .coursesDetails {
            border-left:none;
        }
    }
}
.dropdownBtn {
    border: none;
    background: none;
    width: 200px;
    height: 35px;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(185, 185, 185, 0.295);

    &:active {
        border: none;
    }

    &:focus {
        border: none;
    }

    option {
        &:active {
            border: none;
        }

        &:focus {
            border: none;
        }
    }
}
.DisplayCourses{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: flex;
    justify-content: end;
    
}
