@font-face {
    font-family: PoppinsBold;
    src: url("../Fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: PoppinsRegular;
    src: url("../Fonts/Poppins-Regular.ttf");
}

.cards {
    padding: 20px;

    .card {
        border-radius: 20px;
        width: 100%;
        height: 100%;
        box-shadow: 0px 5px 15px rgba(185, 185, 185, 0.295);

        &:hover {
            transform: scale(1.05);
        }

        .offerInfo {
            font-size: 15px;
            position: absolute;
            bottom: 90%;
            width: 70px;
            height: auto;
            color: white;
            background-color: red;
            border-radius: 5px;
            text-align: center;
            font-family: PoppinsRegular;
            font-size: 15px;
            left: 75%;
        }

        .card_img {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            width: 100%;
            height: 100%;
            padding: 0%;
        }

        div {
            h3 {
                font-family: PoppinsBold;
                font-size: 15px;
            }

            .card_info {
                font-family: PoppinsRegular;
                font-size: 10px;
            }

            .Price {
                font-family: PoppinsBold;
            }

            span {
                font-size: 13px;

            }

            .offerPrice {
                font-size: 15px;
                font-weight: 800;
                color: rgba(0, 210, 0, 0.819);
            }

            .buttonsHere {
                a {
                    button {
                        font-family: PoppinsBold;
                        font-size: 13px;
                    }

                    .OpenAnAccountBtn {
                        color: #007be5;
                        border: 1px solid #007be5;
                    }

                }
            }

        }
    }
}

.RatingAndReviews {
    font-family: PoppinsRegular;
    position: absolute;
    top: 43%;
    left: 5%;
    padding: 5px;

    img {
        width: 150px;
        height: 100%;
    }

    .reviews {
        font-size: 15px;
        color: white;
    }
}