@font-face {
    font-family: PoppinsBold;
    src: url("../../Fonts/Poppins-SemiBold.ttf");
}
@font-face {
    font-family: PoppinsLight;
    src: url("../../Fonts/Poppins-Light.ttf");
}
@font-face {
    font-family: PoppinsMedium;
    src: url("../../Fonts/Poppins-Medium.ttf");
}
.filterDevelopedBy {
    .titles {
        font-family: PoppinsBold;
    }
}

input {
    outline: none;
}

.RatiosBtn {
    div {
        padding: 5px;

        label {
            font-family: PoppinsLight;
            letter-spacing: 1px;
            font-size: 14px;
            padding: 10px;
        }
    }
}